@model ProductModel
@{
    ViewData["Title"] = "Update Product";
}

<form asp-controller="Product" asp-action="UpdateProduct"  method="POST">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="form-text"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="form-text"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="form-text"></span>
    </div>

    <div class="mb-3">
        <label asp-for="SaleFraction" class="form-label"></label>
        <input asp-for="SaleFraction" class="form-control">
        <span asp-validation-for="SaleFraction" class="form-text"></span>
    </div>


    <div class="mb-3">
        <label asp-for="ColorIds"  class="form-label"></label>
        <select asp-for="ColorIds" class="form-control">
            @foreach (ColorModel color in ViewBag.Colors)
            {
                <option value="@color.Id">@color.Name</option>
            }
        </select>
        <span asp-validation-for="ColorIds" class="form-text"></span>
    </div>


    <div class="mb-3">
        <label asp-for="SizeIds" class="form-label"></label>
        <select asp-for="SizeIds" class="form-control">
            @foreach (SizeModel size in ViewBag.Sizes)
            {
                <option value="@size.Id">@size.Size</option>
            }
        </select>
        <span asp-validation-for="SizeIds" class="form-text"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>